USE [master]
GO
/****** Object:  Database [BookWorm]    Script Date: 6/12/2021 7:51:31 PM ******/
CREATE DATABASE [BookWorm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookWorm', FILENAME = N'C:\Users\Jarom\BookWorm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookWorm_log', FILENAME = N'C:\Users\Jarom\BookWorm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookWorm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookWorm]
GO
USE [BookWorm]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 6/12/2021 7:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Author] [nvarchar](150) NOT NULL,
	[CoverArt] [varbinary](max) NULL,
	[Description] [nvarchar](2500) NULL,
	[Rating] [int] NULL,
	[Series] [nvarchar](200) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
